Gravity data from CEPII and United Nations, panel data. Pour entrainer le modèle de gravité : t appartient à [1990,95,2000,2005,2010]

In [115]:
import pandas as pd
import polars as pl

#df_gravity= pd.read_csv('/Users/romain/Desktop/Projets DS/ProjetStat/data/GravityCEPII/Gravity_V202211.csv',)
#df_gravity=df_gravity[df_gravity['year']==2010 | df_gravity['year']==2015 | df_gravity['year']==2005 | df_gravity['year']==2000 | df_gravity['year']==1995 | df_gravity['year']==1990]


#CHUNKS FAIT PAR GEMINI

PATH_GRAVITY = '/Users/romain/Desktop/Projets DS/ProjetStat/data/GravityCEPII/Gravity_V202211.csv'
ANNEES_CIBLES = [1990, 1995, 2000, 2005, 2010, 2015]

# Liste pour stocker les petits morceaux filtrés
chunks_list = []



# chunksize=100000 signifie qu'on lit 100 000 lignes à la fois
# low_memory=False permet d'éviter les warnings sur les types mixtes (ex: 6.5 vs 6)
with pd.read_csv(PATH_GRAVITY, chunksize=100000, low_memory=False) as reader:
    for i, chunk in enumerate(reader):
        # 1. On ne garde que les années cibles dans ce morceau
        chunk_filtered = chunk[chunk['year'].isin(ANNEES_CIBLES)]
        
        # 2. On ajoute le résultat à notre liste (si le morceau n'est pas vide)
        if not chunk_filtered.empty:
            chunks_list.append(chunk_filtered)
            
        # Petit indicateur de progression (optionnel)
        if i % 10 == 0:
            print(f"   ... Traitement du bloc {i}")


if len(chunks_list) > 0:
    df_gravity = pd.concat(chunks_list, ignore_index=True)
    print(f"Terminé ! Taille finale : {df_gravity.shape}")
    print("Années présentes :", sorted(df_gravity['year'].unique()))
else:
    print("Attention : Aucune donnée trouvée pour ces années.")

# Affichage des premières lignes
print(df_gravity.head())

   ... Traitement du bloc 0
   ... Traitement du bloc 10
   ... Traitement du bloc 20
   ... Traitement du bloc 30
   ... Traitement du bloc 40
Terminé ! Taille finale : (381024, 87)
Années présentes : [np.int64(1990), np.int64(1995), np.int64(2000), np.int64(2005), np.int64(2010), np.int64(2015)]
   year country_id_o country_id_d iso3_o iso3_d  iso3num_o  iso3num_d  \
0  1990          ABW          ABW    ABW    ABW      533.0      533.0
1  1995          ABW          ABW    ABW    ABW      533.0      533.0
2  2000          ABW          ABW    ABW    ABW      533.0      533.0
3  2005          ABW          ABW    ABW    ABW      533.0      533.0
4  2010          ABW          ABW    ABW    ABW      533.0      533.0

   country_exists_o  country_exists_d  gmt_offset_2020_o  ...  entry_time_o  \
0                 1                 1               -4.0  ...           NaN
1                 1                 1               -4.0  ...           NaN
2                 1                 1               -4.0  ...           NaN
3                 1                 1               -4.0  ...           NaN
4                 1                 1               -4.0  ...           NaN

   entry_time_d  entry_tp_o  entry_tp_d  tradeflow_comtrade_o  \
0           NaN         NaN         NaN                   NaN
1           NaN         NaN         NaN                   NaN
2           NaN         NaN         NaN                   NaN
3           NaN         NaN         NaN                   NaN
4           NaN         NaN         NaN                   NaN

   tradeflow_comtrade_d tradeflow_baci manuf_tradeflow_baci  tradeflow_imf_o  \
0                   NaN            NaN                  NaN              NaN
1                   NaN            NaN                  NaN              NaN
2                   NaN            NaN                  NaN              NaN
3                   NaN            NaN                  NaN              NaN
4                   NaN            NaN                  NaN              NaN

   tradeflow_imf_d
0              NaN
1              NaN
2              NaN
3              NaN
4              NaN

[5 rows x 87 columns]

In [41]:
df_gravity.describe()

,year,iso3num_o,iso3num_d,country_exists_o,country_exists_d,gmt_offset_2020_o,gmt_offset_2020_d,distw_harmonic,distw_arithmetic,distw_harmonic_jh,...,entry_time_o,entry_time_d,entry_tp_o,entry_tp_d,tradeflow_comtrade_o,tradeflow_comtrade_d,tradeflow_baci,manuf_tradeflow_baci,tradeflow_imf_o,tradeflow_imf_d
count,381024.000000,379512.000000,379512.000000,381024.000000,381024.000000,348012.000000,348012.000000,318183.000000,318183.000000,141406.000000,...,136332.000000,136332.000000,136332.000000,136332.000000,1.110570e+05,1.277300e+05,1.154070e+05,1.154070e+05,1.182070e+05,1.301350e+05
mean,2002.500000,438.107570,438.107570,0.913360,0.913360,1.607169,1.607169,8510.804663,8524.366921,7830.189165,...,35.253050,35.253050,43.607948,43.607948,4.747515e+05,4.273347e+05,4.091420e+05,3.386198e+05,4.620733e+05,4.249867e+05
std,8.539137,250.737078,250.737078,0.281307,0.281307,4.947616,4.947616,4727.013414,4719.192034,4513.777330,...,53.078423,53.078423,54.812984,54.812984,4.860019e+06,4.551398e+06,4.400671e+06,3.975247e+06,4.774454e+06,4.550216e+06
min,1990.000000,4.000000,4.000000,0.000000,0.000000,-11.000000,-11.000000,0.000000,0.000000,1.000000,...,0.500000,0.500000,1.500000,1.500000,1.000000e-03,1.000000e-03,1.000000e-03,0.000000e+00,1.000000e-03,1.000000e-03
25%,1995.000000,222.000000,222.000000,1.000000,1.000000,-1.000000,-1.000000,4778.000000,4790.000000,4309.000000,...,11.000000,11.000000,17.500000,17.500000,1.634750e+02,5.250200e+01,5.791750e+01,3.513900e+01,1.233125e+02,8.059000e+01
50%,2002.500000,440.000000,440.000000,1.000000,1.000000,1.000000,1.000000,8139.000000,8148.000000,7418.000000,...,22.000000,22.000000,31.000000,31.000000,2.922549e+03,1.440579e+03,1.446676e+03,8.987070e+02,2.538573e+03,2.018702e+03
75%,2010.000000,654.000000,654.000000,1.000000,1.000000,4.000000,4.000000,12054.000000,12063.000000,11003.000000,...,40.000000,40.000000,52.000000,52.000000,4.099332e+04,2.900358e+04,2.857802e+04,1.934118e+04,3.778629e+04,3.230033e+04
max,2015.000000,894.000000,894.000000,1.000000,1.000000,13.000000,13.000000,19904.000000,19904.000000,19747.000000,...,697.500000,697.500000,710.500000,710.500000,4.099775e+08,5.040262e+08,4.295410e+08,4.271923e+08,4.107828e+08,4.818808e+08

In [42]:
annees_gravity=df_gravity['year'].unique()
print(sorted(annees_gravity))

[np.int64(1990), np.int64(1995), np.int64(2000), np.int64(2005), np.int64(2010), np.int64(2015)]

In [35]:
# DONNEES UN , ne pas utiliser

df_pop= pd.read_csv('/Users/romain/Desktop/Projets DS/ProjetStat/data/population_un.csv',encoding='latin-1',header=1)
df_pop=df_pop.rename(columns={'Year':'year'})
df_urban=pd.read_csv('/Users/romain/Desktop/Projets DS/ProjetStat/data/urban_un.csv',encoding='latin-1',header=1)
df_urban=df_urban.rename(columns={'Year':'year'})
df_mortality=pd.read_csv('/Users/romain/Desktop/Projets DS/ProjetStat/data/mortality_un.csv',header=1)
df_mortality=df_mortality.rename(columns={'Year':'year'})
df_flux=pd.read_csv('/Users/romain/Desktop/Projets DS/ProjetStat/data/azoseRaftery2019flows.csv')

annees_pop=df_pop['year'].unique()
print(sorted(annees_pop))
annees_urban=df_urban['year'].unique()
print(sorted(annees_urban))
annees_mortality=df_mortality['year'].unique()
print(sorted(annees_mortality))
annees_flux=df_flux['year'].unique()
print(sorted(annees_flux))

df_flux_abelcohen=pd.read_csv('/Users/romain/Desktop/Projets DS/ProjetStat/data/abelCohen2019flowsv6.csv')
annees_flux_abelcohen=df_flux_abelcohen['year0'].unique()
print(sorted(annees_flux_abelcohen))

[np.int64(2010), np.int64(2015), np.int64(2022), np.int64(2024)]
[np.int64(2001), np.int64(2005), np.int64(2010), np.int64(2015), np.int64(2018)]
[np.int64(2010), np.int64(2015), np.int64(2020), np.int64(2024)]
[np.int64(1990), np.int64(1995), np.int64(2000), np.int64(2005), np.int64(2010)]
[np.int64(1990), np.int64(1995), np.int64(2000), np.int64(2005), np.int64(2010), np.int64(2015)]

conclusion: données de UN nulles, années pas compatibles => tout prendre de CEPII. Tanpis pour l'instant pour PSR,IMR,urban,LA,LL.
LA et LL: disponibles dans CEPII ! 
Reste un probleme: PSR,IMR,urban indicateurs de développement. Mais maintenant, on a un très frot indicateur de développement, le PIB!

Reste à faire la double fusion.

In [47]:
#df_gravity.describe()
print(df_gravity.columns)
#df_gravity=df_gravity.rename(columns={ })

Index(['year', 'country_id_o', 'country_id_d', 'iso3_o', 'iso3_d', 'iso3num_o',
       'iso3num_d', 'country_exists_o', 'country_exists_d',
       'gmt_offset_2020_o', 'gmt_offset_2020_d', 'distw_harmonic',
       'distw_arithmetic', 'distw_harmonic_jh', 'distw_arithmetic_jh', 'dist',
       'main_city_source_o', 'main_city_source_d', 'distcap', 'contig',
       'diplo_disagreement', 'scaled_sci_2021', 'comlang_off', 'comlang_ethno',
       'comcol', 'col45', 'legal_old_o', 'legal_old_d', 'legal_new_o',
       'legal_new_d', 'comleg_pretrans', 'comleg_posttrans',
       'transition_legalchange', 'comrelig', 'heg_o', 'heg_d', 'col_dep_ever',
       'col_dep', 'col_dep_end_year', 'col_dep_end_conflict', 'empire',
       'sibling_ever', 'sibling', 'sever_year', 'sib_conflict', 'pop_o',
       'pop_d', 'gdp_o', 'gdp_d', 'gdpcap_o', 'gdpcap_d', 'pop_source_o',
       'pop_source_d', 'gdp_source_o', 'gdp_source_d', 'gdp_ppp_o',
       'gdp_ppp_d', 'gdpcap_ppp_o', 'gdpcap_ppp_d', 'pop_pwt_o', 'pop_pwt_d',
       'gdp_ppp_pwt_o', 'gdp_ppp_pwt_d', 'gatt_o', 'gatt_d', 'wto_o', 'wto_d',
       'eu_o', 'eu_d', 'fta_wto', 'fta_wto_raw', 'rta_coverage', 'rta_type',
       'entry_cost_o', 'entry_cost_d', 'entry_proc_o', 'entry_proc_d',
       'entry_time_o', 'entry_time_d', 'entry_tp_o', 'entry_tp_d',
       'tradeflow_comtrade_o', 'tradeflow_comtrade_d', 'tradeflow_baci',
       'manuf_tradeflow_baci', 'tradeflow_imf_o', 'tradeflow_imf_d'],
      dtype='object')

Voici la liste des variables de votre base Gravity (CEPII) regroupées par catégories pour plus de clarté :

1. Identifiants (Clés de fusion)
year : Année.

iso3_o, iso3_d : Codes pays ISO 3 lettres (Origine / Destination).

country_id_o, country_id_d, iso3num_o, iso3num_d : Identifiants numériques alternatifs.

country_exists_o, country_exists_d : Le pays existait-il cette année-là ?

2. Géographie (Coûts de transport)
dist, distcap : Distance simple et distance entre capitales.

distw_harmonic, distw_arithmetic : Distances pondérées par la population (souvent meilleures).

contig : Frontière commune (1 si oui).

gmt_offset_2020_o, gmt_offset_2020_d : Fuseau horaire (décalage horaire).

3. Culture & Histoire (Liens)
comlang_off, comlang_ethno : Langue commune (officielle ou ethnique/parlée).

col_dep, col_dep_ever : Relation coloniale (dépendance).

comcol : Colonisateur commun.

sibling, empire : Ont fait partie du même pays ou empire.

comrelig : Proximité religieuse.

legal_..., comleg_... : Origine du système légal (Common law vs Civil law).

4. Économie & Démographie (Masses)
pop_o, pop_d : Population totale.

gdp_o, gdp_d : PIB nominal.

gdpcap_o, gdpcap_d : PIB par habitant (niveau de vie).

gdp_ppp_..., gdpcap_ppp_... : PIB en Parité de Pouvoir d'Achat (meilleur pour le niveau de vie réel).

5. Politique Commerciale & Institutions
gatt_o, gatt_d, wto_o, wto_d : Membres du GATT ou de l'OMC.

eu_o, eu_d : Membres de l'Union Européenne.

fta_wto, rta_type : Accords de libre-échange ou régionaux.

entry_cost_..., entry_proc_..., entry_time_... : Coûts et temps pour créer une entreprise (barrières institutionnelles).

6. Flux Commerciaux (Variables cibles potentielles)
tradeflow_comtrade_... : Données ONU.

tradeflow_baci, manuf_tradeflow_baci : Données retraitées CEPII (haute qualité).

tradeflow_imf_... : Données FMI.

FUSION MONO & DYADIQUE GEODIST

(landlocked lato sensu)

In [116]:
# données GeoDist, Fusion

df_geomono=pd.read_excel('/Users/romain/Desktop/Projets DS/ProjetStat/data/geo_cepii.xls',usecols=['cnum','area','landlocked'])

df_geomono=df_geomono.rename(columns={'cnum':'iso','area':'LA','landlocked':'LL'})
#df_geodyad=pd.read_excel('/Users/romain/Desktop/Projets DS/ProjetStat/data/dist_cepii.xls')
#df_geodyad=df_geodyad.rename(columns={'iso_o':'country_id_o','iso_d':'country_id_d'})


#df_geomono=df_geomono['iso','LA','LL']
print(df_geomono.head())
#print(df_geodyad.head())

df=pd.merge(df_gravity,df_geomono,left_on='iso3num_o',right_on='iso',how='left')
df=df.rename(columns={'LA':'LA_o','LL':'LL_o'})
#print(df.columns)
df=pd.merge(df,df_geomono,left_on='iso3num_d',right_on='iso',how='left')
df=df.rename(columns={'LA':'LA_d','LL':'LL_d'})

df=df.drop(columns=['iso_x','iso_y'])

#print(df.columns)

# plus robuste: df=df.rename(columns={'LA':'LA_o','LL':'LL_o'}).drop(columns='iso') après chaque fusion

# etape de verification CRUCIALE
print(df[['iso3num_o', 'LL_o']])

   iso       LA  LL
0  533      193   0
1    4   652225   1
2   24  1246700   0
3  660      102   0
4    8    28748   0
        iso3num_o  LL_o
0           533.0   0.0
1           533.0   0.0
2           533.0   0.0
3           533.0   0.0
4           533.0   0.0
...           ...   ...
415009      716.0   1.0
415010      716.0   1.0
415011      716.0   1.0
415012      716.0   1.0
415013      716.0   1.0

[415014 rows x 2 columns]

In [118]:
print(df_geomono['iso'].duplicated().sum()) # Doit être 0
# Si > 0, faire : df_geomono = df_geomono.drop_duplicates(subset=['iso'])
df_geomono = df_geomono.drop_duplicates(subset=['iso'])

0

In [98]:
df.head()

,year,country_id_o,country_id_d,iso3_o,iso3_d,iso3num_o,iso3num_d,country_exists_o,country_exists_d,gmt_offset_2020_o,...,tradeflow_comtrade_o,tradeflow_comtrade_d,tradeflow_baci,manuf_tradeflow_baci,tradeflow_imf_o,tradeflow_imf_d,LA_o,LL_o,LA_d,LL_d
0,1990,ABW,ABW,ABW,ABW,533.0,533.0,1,1,-4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,193.0,0.0,193.0,0.0
1,1995,ABW,ABW,ABW,ABW,533.0,533.0,1,1,-4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,193.0,0.0,193.0,0.0
2,2000,ABW,ABW,ABW,ABW,533.0,533.0,1,1,-4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,193.0,0.0,193.0,0.0
3,2005,ABW,ABW,ABW,ABW,533.0,533.0,1,1,-4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,193.0,0.0,193.0,0.0
4,2010,ABW,ABW,ABW,ABW,533.0,533.0,1,1,-4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,193.0,0.0,193.0,0.0

In [119]:
# fusionner avec flux
df_flux=pd.read_csv('/Users/romain/Desktop/Projets DS/ProjetStat/data/azoseRaftery2019flows.csv')
df_flux=df_flux.rename(columns={'origin':'iso_o','destination':'iso_d'})
df_flux.head()
#annees_flux=df_flux['year'].unique()
#print(sorted(annees_flux))

   iso_o  iso_d origIso destIso  year  migrantCount
0    533      4     ABW     AFG  1990             0
1    533      4     ABW     AFG  1995             0
2    533      4     ABW     AFG  2000             0
3    533      4     ABW     AFG  2005             0
4    533      4     ABW     AFG  2010             0

In [122]:
# Compter les NaN spécifiquement dans ces colonnes
print("NaN dans Origine :", df['iso3num_o'].isna().sum())
print("NaN dans Destination :", df['iso3num_d'].isna().sum())

# Voir quelques lignes problématiques pour comprendre POURQUOI
print("\nExemple de lignes avec NaN :")
print(df[df['iso3num_o'].isna()].head())

print(len(df['iso3num_o']))

NaN dans Origine : 0
NaN dans Destination : 0

Exemple de lignes avec NaN :
Empty DataFrame
Columns: [year, country_id_o, country_id_d, iso3_o, iso3_d, iso3num_o, iso3num_d, country_exists_o, country_exists_d, gmt_offset_2020_o, gmt_offset_2020_d, distw_harmonic, distw_arithmetic, distw_harmonic_jh, distw_arithmetic_jh, dist, main_city_source_o, main_city_source_d, distcap, contig, diplo_disagreement, scaled_sci_2021, comlang_off, comlang_ethno, comcol, col45, legal_old_o, legal_old_d, legal_new_o, legal_new_d, comleg_pretrans, comleg_posttrans, transition_legalchange, comrelig, heg_o, heg_d, col_dep_ever, col_dep, col_dep_end_year, col_dep_end_conflict, empire, sibling_ever, sibling, sever_year, sib_conflict, pop_o, pop_d, gdp_o, gdp_d, gdpcap_o, gdpcap_d, pop_source_o, pop_source_d, gdp_source_o, gdp_source_d, gdp_ppp_o, gdp_ppp_d, gdpcap_ppp_o, gdpcap_ppp_d, pop_pwt_o, pop_pwt_d, gdp_ppp_pwt_o, gdp_ppp_pwt_d, gatt_o, gatt_d, wto_o, wto_d, eu_o, eu_d, fta_wto, fta_wto_raw, rta_coverage, rta_type, entry_cost_o, entry_cost_d, entry_proc_o, entry_proc_d, entry_time_o, entry_time_d, entry_tp_o, entry_tp_d, tradeflow_comtrade_o, tradeflow_comtrade_d, tradeflow_baci, manuf_tradeflow_baci, tradeflow_imf_o, tradeflow_imf_d, LA_o, LL_o, LA_d, LL_d]
Index: []

[0 rows x 91 columns]
411864

conclusion : VDR republique démocratique nord vietnam, n'existe plus par exemple. 0.38% des lignes sont du bruit NaN. on les supprime sans remord

In [121]:
df = df.dropna(subset=['iso3num_o', 'iso3num_d'])
df['iso3num_o'] = df['iso3num_o'].astype(int)
df['iso3num_d'] = df['iso3num_d'].astype(int)

In [123]:
# Juste avant le merge avec df_flux
df = df.drop_duplicates(subset=['iso3num_o', 'iso3num_d', 'year'])

In [124]:


df=pd.merge(df_flux,df,left_on=['iso_o','iso_d','year'],right_on=['iso3num_o','iso3num_d','year'], how='left')

In [125]:
len(df['year'])

199000

In [127]:
# 1. Vérifiez que la taille correspond bien à votre fichier flux d'origine
print(f"Lignes dans df_flux (avant) : {len(df_flux)}")
print(f"Lignes dans df final (après) : {len(df)}")

# 2. Vérifiez si les données Gravity sont bien arrivées
# On regarde une colonne qui vient OBLIGATOIREMENT de Gravity, ex: 'distw_harmonic' ou 'pop_o'
nb_rates = df['dist'].isna().sum()
pourcentage_rates = (nb_rates / len(df)) * 100

print(f"\nNombre de flux sans données Gravity (NaN) : {nb_rates}")
print(f"Pourcentage d'échec : {pourcentage_rates:.2f}%")

Lignes dans df_flux (avant) : 199000
Lignes dans df final (après) : 199000

Nombre de flux sans données Gravity (NaN) : 26876
Pourcentage d'échec : 13.51%

In [129]:
df.head()

,iso_o,iso_d,origIso,destIso,year,migrantCount,country_id_o,country_id_d,iso3_o,iso3_d,...,tradeflow_comtrade_o,tradeflow_comtrade_d,tradeflow_baci,manuf_tradeflow_baci,tradeflow_imf_o,tradeflow_imf_d,LA_o,LL_o,LA_d,LL_d
0,533,4,ABW,AFG,1990,0,ABW,AFG,ABW,AFG,...,NaN,NaN,NaN,NaN,NaN,NaN,193.0,0.0,652225.0,1.0
1,533,4,ABW,AFG,1995,0,ABW,AFG,ABW,AFG,...,NaN,NaN,NaN,NaN,NaN,NaN,193.0,0.0,652225.0,1.0
2,533,4,ABW,AFG,2000,0,ABW,AFG,ABW,AFG,...,NaN,NaN,NaN,NaN,NaN,NaN,193.0,0.0,652225.0,1.0
3,533,4,ABW,AFG,2005,0,ABW,AFG,ABW,AFG,...,NaN,NaN,NaN,NaN,NaN,NaN,193.0,0.0,652225.0,1.0
4,533,4,ABW,AFG,2010,0,ABW,AFG,ABW,AFG,...,NaN,NaN,NaN,NaN,NaN,NaN,193.0,0.0,652225.0,1.0

In [128]:
# EXPORTER EN CSV 


output_path = '/Users/romain/Desktop/Projets DS/ProjetStat/data/reg_gravity_CEPII.csv'

# exportation propre
df.to_csv(
    output_path, 
    index=False,   # CRUCIAL : Ne pas enregistrer la colonne d'index (0, 1, 2...)
    na_rep='NA',   # CRUCIAL POUR R : Remplacer les vides par "NA"
    sep=',',       # Standard international (virgule)
    encoding='utf-8'
)